.recommended-friends {
  border-top: var(--border-line-);
  border-bottom: var(--border-line-);
}

.recommended-friends__title {
  padding-top: 20px;
  color: var(--gray-color);
  font-size: 15px;
}

.recommended-friends span {
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: var(--gray-color);
  padding: 110px 0px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px 0px 0px;
  color: var(--gray-color);
  font-size: 15px;
}

.open-chat__header span {
  color: rgba(0, 0, 0, 0.2);
}

.open-post {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-line-);
  padding: 5px;
}

.open-post2 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 18px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray-color);
  margin-bottom: 5px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  margin-right: 5px;
}

.open-post__members {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--gray-color);
}

.open-post__members .divider {
  width: 1px;
  height: 13px;
  background-color: var(--gray-color);
  margin: 0px 5px;
}

.open-post__members-status {
  color: #f869bf;
}

.open-post__column__image {
  width: 100px;
  height: 80px;
  border-radius: 10px;
}
<<<<<<< Updated upstream:css/screens/find.css
.open-post__column {
  position: relative;
}

.open-post__column-heart {
  background-color: var(--gray-color);
  color: white;
  padding: 5px;
  width: 54px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.open-post__column-heart i {
  margin-right: 2px;
=======

.open-post__heart-count {
  background-color: rgba(34, 34, 34, 0.6);
  color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 4px;
}

.open-post__column {
  position: relative;
>>>>>>> Stashed changes:css/screens/findicon.css
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
<<<<<<< Updated upstream:css/screens/find.css
    transform: scale(1.3);
=======
    transform: scale(2);
>>>>>>> Stashed changes:css/screens/findicon.css
  }
  100% {
    color: white;
    transform: none;
  }
}

<<<<<<< Updated upstream:css/screens/find.css
.open-post__column-heart:hover i {
  will-change: transform;
  animation: heartbeat 1s ease-in-out infinite;
=======
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
>>>>>>> Stashed changes:css/screens/findicon.css
}
