.alt-header {
<<<<<<< Updated upstream
  padding: 35px var(--horizontal-space);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.alt-header__title {
  font-size: 30px;
  font-weight: 500;
=======
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px var(--horizontal-space);
>>>>>>> Stashed changes
}

.alt-header__column {
  width: 33%;
}
<<<<<<< Updated upstream

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column i {
  font-size: 30px;
}

.alt-header__column span:last-child {
  margin-left: 20px;
=======
.alt-header__title {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.alt-header__column:first-child {
  display: flex;
  justify-content: start;
  font-size: 40px;
}
.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__column span {
  margin-right: 15px;
>>>>>>> Stashed changes
}
