.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px var(--horizontal-space);
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 20px;
}
